################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/sirg.metadata.v10.bin
/.vs/ProjectEvaluation/sirg.strings.v10.bin
/.vs/ProjectEvaluation/sirg.projects.v10.bin
/.vs/SIRG/CopilotIndices/18.3.502.33069/CodeChunks.db
/.vs/SIRG/CopilotIndices/18.3.502.33069/CodeChunks.db-shm
/.vs/SIRG/CopilotIndices/18.3.502.33069/CodeChunks.db-wal
/.vs/SIRG/CopilotIndices/18.3.502.33069/SemanticSymbols.db
/.vs/SIRG/CopilotIndices/18.3.502.33069/SemanticSymbols.db-shm
/.vs/SIRG/CopilotIndices/18.3.502.33069/SemanticSymbols.db-wal
/.vs/SIRG/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/sirg.metadata.v9.bin
/.vs/ProjectEvaluation/sirg.projects.v9.bin
/.vs/ProjectEvaluation/sirg.strings.v9.bin
/.vs/SIRG/v18/.futdcache.v2
/.vs/SIRG/v18/.suo
/.vs/SIRG/v18/DocumentLayout.backup.json
/.vs/SIRG/v18/DocumentLayout.json
/.vs/SIRG.slnx/v18/.wsuo
/.vs/SIRG.slnx/v18/DocumentLayout.json
/backend/.vs/SIRG/DesignTimeBuild/.dtbcache.v2
/backend/.vs/SIRG/FileContentIndex/0c552176-37fc-43f4-96dc-a8c2b3f620c2.vsidx
/backend/.vs/SIRG/v18/.futdcache.v2
/backend/.vs/SIRG/v18/.suo
/backend/.vs/SIRG/v18/DocumentLayout.backup.json
/backend/.vs/SIRG/v18/DocumentLayout.json
/SIRG.Application/bin/Debug/net9.0/SIRG.Application.deps.json
/SIRG.Application/bin/Debug/net9.0/SIRG.Application.dll
/SIRG.Application/bin/Debug/net9.0/SIRG.Application.pdb
/SIRG.Application/obj/Debug/net9.0/ref/SIRG.Application.dll
