.about-section{
    background: #111;
    padding: 100px 20px;
}
.about-container{
    max-width: 1200px;
    margin: auto;
}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}
.about-subtitle{
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #c0392b;
    margin-bottom: 10px;
}
.about-title{
font-size: 42px;
color: white;
font-weight: bold;
line-height: 1.2;
}
.about-title span{
    color: #c0392b;
    font-style: italic;
}
.about-line{
    width: 60px;
    height: 2px;
    background: #c0392b;
    margin: 20px;
}
.about-description{
    color: #cccccc;
}
.about-stats{
    display: flex;
    gap: 40px;
    margin-top: 25px;
}
.stat-number{
    font-size: 28px;
    color: #c0392b;
    font-weight: bold;
}
.stat-label{
    font-size: 12px;
    color: #aaa;
    margin-top: 4px;
}
.about-quote-container{
    position: relative;
}
.about-quote-card{
    background: #1b1b1b;
}
.quote-symbol{
    font-size: 70px;
    color: #c0392b55;
    position: absolute;
    top: -10px;
    left: 20px;
}
.quote-text{
    color:#eee;
    font-size:18px;
    font-style:italic;
    line-height:1.6;
    margin-top:20px;
    margin-bottom:20px;
}

.quote-author{
    display:flex;
    align-items:center;
    gap:12px;
}

.author-avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#c0392b;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}

.author-name{
    color:white;
    font-weight:bold;
    font-size:14px;
}

.author-role{
    color:#999;
    font-size:12px;
}



@media (max-width:768px){

.about-grid{
    grid-template-columns:1fr;
}

.about-title{
    font-size:32px;
}

}